@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.modal {
  margin: auto;
  overflow: auto;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.modal-content {
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 34px;
  font-weight: 500;
  position: relative;
  text-align: center;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 24vw;
  bottom: 0;
  height: 3px;
  width: 13vw;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.input-box span.details {
  text-align: center;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box textarea {
  display: inline;
  height: 30vh;
  width: 59.5vw;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: 'Fredoka', sans-serif;
  font-size: 4.5vh;
  margin-top: 5vh;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

.user-details .input-box textarea:focus,
.user-details .input-box textarea:valid {
  border-color: #9b59b6;
}

.gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 14px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three,
#dot-4:checked ~ .category label .four {
  background: #9b59b6;
  border-color: #d9d9d9;
}

.button {
  height: 45px;
  margin: 35px 0;
}

.button input {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  text-align: center;
}

.button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  .category {
    width: 100%;
  }
  .content .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width: 459px) {
  .container .content .category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=S_H_Popup.css.map */