@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
.W_P_container .upper {
  background: url(https://images.pexels.com/photos/3288102/pexels-photo-3288102.png?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 88.2vh;
  padding-left: 10vh;
}

.W_P_container .agentinfocard {
  padding-top: 8vh;
  margin: auto;
}

.W_P_container .card {
  height: 500px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins',sans-serif;
}

.W_P_container .card:hover {
  z-index: 1;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.W_P_container .card:hover #cnumber {
  border: 2px solid;
}

.W_P_container .card-img {
  height: 120px;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: absolute;
  margin: 30px auto 20px auto;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.W_P_container .card-img img {
  height: 86%;
  border-radius: 50%;
  margin-left: 7%;
  margin-top: 7%;
}

.W_P_container .desc {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 160px;
}

.W_P_container .desc #cnumber {
  margin: 0.5vw;
  margin-top: 4vh;
  margin-right: 1vh;
  color: #d5d5d5;
  border: white 1px solid;
  border-radius: 0.5rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.W_P_container .primary-text {
  color: #d5d5d5;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.7px;
  margin-top: 2vh;
}

.W_P_container .name {
  font-size: larger;
  margin-bottom: 1vh;
}

.W_P_container .secondary-text {
  color: #c0c0c0;
  font-weight: 400;
  font-size: 2vh;
  letter-spacing: 1px;
  margin: 5px 0;
}

.W_P_container .details-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 0 0 8px 8px;
  padding: 5px 0;
}

.W_P_container .details-1 div {
  text-align: center;
}

.W_P_container .details-1 div:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.08);
}

.W_P_container .details-1 div:nth-child(2) {
  border-right: 2px solid rgba(255, 255, 255, 0.08);
}

.add {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.7px;
  margin: 5px 0;
  margin-left: 1vw;
  width: 20vw;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2vw;
  border: none;
  cursor: pointer;
  margin-top: 2vh;
}
/*# sourceMappingURL=W_P.css.map */